:root {
  --color-text: #4b6f85;
  --color-bg: #a2bbcb;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #283a46;

  &:has(.dark-theme) {
    --color-text: tomato;
    --color-bg: #4b6f85;
  }
}

body {
  margin: 0;
  min-width: 600px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}

button {
  cursor: pointer;
}

button,
input {
  font-family: inherit;
  border: none;
  outline: none;
}

div,
input,
section {
  box-sizing: border-box;
}

p,
h2 {
  margin: 0;
  padding: 0;
}
